[Desktop Entry]
Type=Application
Name=conky
Exec=conky -c ~/.config/conky/mocha.conf
StartupNotify=false
Terminal=false
Icon=conky-logomark-violet
Categories=System;Monitor;
